.title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 35px;
    line-height: 35px;
    font-size: 28px;
}

.subTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: var(--gray-text);
}

.headCont {
    max-width: 1110px;
    padding-left: 25px;
    padding-right: 25px;
}

.switchCont {
    padding-top: 48px;
}

.switchText {
    font-weight: 700;
    color: var(--gray-text);
}

.toggle {
    margin-left: 13px;
}

hr {
    opacity: 60%;
    color: hsl(228, 12%, 44%);
    margin-top: 24px;
    margin-bottom: 0;
}

@media screen and (max-width: 575px) {
    .headCont {
        /* background-color: black; */
        justify-content: left;
        flex-direction: column;
    }

    .switchCont {
        padding-top: 15px;
        justify-content: space-between;
    }

    .title {
        font-size: 25px;
    }

    .toggle {
        margin-left: 0;
    }
}