@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --gray-text: hsl(228, 12%, 44%);
    --card-bg: hsl(227, 47%, 96%);
    --facebook: hsl(208, 92%, 53%);
    --green-text: hsl(163, 72%, 41%);
    --red-text: hsl(356, 69%, 56%);
}

[data-them="dark"] {
  
}

p {
  margin: 0;
  padding: 0;
}

.green-text {
  color: var(--green-text);
}

.red-text {
  color: var(--red-text)
}

.blue-border {
  border-top: 4px solid var(--facebook);
}

